*.*~
*.~h
*.o
*.aps
*.sdf
*.opensdf
*.suo
*.user
*.plg
*.ncb
*.vssscc
*.vspscc
*.scc
*.psess
*.tlb
*.pdb
*.dll
*.vsp
*.trx
UpgradeLog.XML
Thumbs.db
bin
obj
Debug
Release
ipch
COMRaskroy.h
COMRaskroy_i.c
COMRaskroy_p.c
dlldata.c
.*.swp
CMakeCache.txt
CMakeFiles
cmake_install.cmake
*.pyc
*.so
build/
dist/
