<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CuttingOptimizing.Properties.Settings.CutOptimaConnectionString"
            connectionString="Data Source=misha\v2000;Initial Catalog=CutOptima;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>