<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Raskroy.Properties.Settings.OrdersConnectionString"
            connectionString="Data Source=MISHA\v2000;Initial Catalog=Orders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Denisenko.Cutting.CutOptima.Properties.Settings.OrdersConnectionString"
            connectionString="Data Source=MISHA\v2000;Initial Catalog=Orders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Denisenko.Cutting.CutOptima.Properties.Settings.CutOptimaConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\CutOptima.mdf;Initial Catalog=CutOptima;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>