<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Denisenko.Cutting.CutOptima.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Raskroy.Properties.Settings.OrdersConnectionString"
            connectionString="Data Source=MISHA\v2000;Initial Catalog=Orders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Denisenko.Cutting.CutOptima.Properties.Settings.OrdersConnectionString"
            connectionString="Data Source=MISHA\v2000;Initial Catalog=Orders;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Denisenko.Cutting.CutOptima.Properties.Settings>
            <setting name="DefaultCutOptimaConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="CutOptimaConnectionString" serializeAs="String">
                <value />
            </setting>
        </Denisenko.Cutting.CutOptima.Properties.Settings>
    </userSettings>
</configuration>